digraph {
    rankdir=LR; // prints nodes from left to right
    newrank=true; // allows rank=same within subgraphs
    splines=false; // prints straight lines, instead of curved splines (ortho)
    compound=true; // allows edges between subgraphs

    {# {% for source_file in source_files %}
    {{ source_file.node_str() }}

    {% endfor %} #}

    {% for component in components %}
    {{ component.node_str() }}

    {% endfor %}

    {% for source_file1 in source_files %}
    {% for source_file2 in source_file1.includes %}
    {{ source_file1.edge_str() }} -> {{ source_file2.edge_str() }}
    {% if source_file1.component != source_file2.component %}
    [ltail="{{ source_file1.component.id() }}", lhead="{{ source_file2.component.id() }}"];
    {% endif %}
    {% endfor %}
    {% endfor %}

    {# {% for component in components %}
    {% for header_file in component.header_file.includes %}
    {{ component.header_file.edge_str() }} -> {{ header_file.edge_str() }};
    {% endfor %}
    {% for header_file in component.source_file.includes %}
    {% if header_file != component.header_file %}
    {{ component.source_file.edge_str() }} -> {{ header_file.edge_str() }};
    {% endif %}
    {% endfor %}
    {% endfor %} #}
}
