digraph {
    rankdir=LR; // prints nodes from left to right
    newrank=true; // allows rank=same within subgraphs
    splines=false; // prints straight lines, instead of curved splines (ortho)
    compound=true; // allows edges between subgraphs

    {% for package in packages %}
    {{ package.node_str() }}

    {% endfor %}

    {% for source_file1 in source_files %}
    {% for source_file2 in source_file1.includes %}
    {% if source_file1.component.package == source_file2.component.package %}
    {% if source_file1.component == source_file2.component %}
    {{ source_file1.id_str() }} -> {{ source_file2.id_str() }};
    {% else %}
    {{ source_file1.id_str() }} -> {{ source_file2.id_str() }} [ltail={{ source_file1.component.id_str() }}, lhead={{ source_file2.component.id_str() }}];
    {% endif %}
    {% else %}
    {{ source_file1.id_str() }} -> {{ source_file2.id_str() }} [ltail={{ source_file1.component.package.id_str() }}, lhead={{ source_file2.component.package.id_str() }}];
    {% endif %}
    {% endfor %}
    {% endfor %}
}
